@use "../../../../sass/layout/layout-elements";
@use "../../../../sass/libs/mixins";
@use "../../../../sass/base/themeColors";
@use "../../../../sass/libs/vars";

.nav {
  @include layout-elements.header_layout();

  &__links {
    @include layout-elements.ul_cleaner();

    display: flex;
    align-items: center;
    border-radius: 9px;

    //> MAKE MAIN TOP NAVIGATOR LINKS DISSAPEAR
    @include mixins.respond(phone-large) {
      display: none;
    }
  }

  &__link {
    @include layout-elements.a_cleaner();

    color: themeColors.$color-surface-light;
    margin: 0 1rem;
    transition: all 0.8s;

    &:hover {
      color: #222633ed;
    }
  }

  &__item {
    @include layout-elements.li_cleaner();

    padding: 2rem;
    border-radius: 1.5px;
    background-color: #4f4d4dba; //#222633ed;
    font-size: vars.$default-link-font-size;
    box-shadow: var(--wp--preset--shadow--minimal);
    transition: all 0.2s ease-out;

    &:first-child {
      border-radius: 9px 0 0 9px;
      padding-left: 5rem;
    }
    &:last-child {
      background-color: #222633d7; // #0000009e; //#222633ed;
      border-radius: 0 9px 9px 0;
      padding-right: 5rem;
    }
    &:hover {
      background-color: #1974d2;
      transition: all 0.5s ease-in-out;
      box-shadow: inset 0px 1px 4px rgba(34, 38, 51, 0.8392156863);
    }
  }
}
