@use './../../../../sass/libs/mixins';

.fragment{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 9rem;


    @include mixins.respond(phone){
    margin-left: 0;
    justify-content: center;
    }

   @include mixins.respond(phone-small){
    margin-left: 0;
    justify-content: center;
    flex-wrap: wrap;
    }

    &__wrapper{
        width: 110%;

    @include mixins.respond(phone-small){
        width: auto;
        padding: 1rem;

    }
        
    }

    &__icon{
        border: 1px solid #fafafa5c;
        padding: 1.2rem 3rem;
        margin: 0 0.7rem ;
        border-radius: 9px;
        transition: all 1s ease;
        width: 76%;
        @include mixins.respond(phone){
            width: 84%;

    }

        &:hover{
            border: 1px solid #4e4e4e30;
            background-color: #ffffff2d;
            transform: scale(1.1);
            box-shadow: var(--wp--preset--shadow--natural-simple);
        }
    }
}

