opencv-python~=4.11.0.86
mediapipe~=0.10.7
PyAutoGUI~=0.9.54
numpy~=2.0.2
pyzmq~=26.4.0
requests~=2.32.3
Flask~=3.1.1
tensorflow~=2.19.0
pandas~=2.3.0
seaborn~=0.13.2
matplotlib~=3.10.3
scikit-learn~=1.7.0